* {
  box-sizing: border-box;
}

/* <-- fonts --> */
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

.container {
  margin: 0 auto;
  width: 1600px;
  display: flex;
  flex-direction: column;
}
